body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  background: #fff;
  color: #222;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
  height: 56px;
  background-color: #005035;
  color: #fff;
  width: 100%;
}

.logo{
  width: 50px;
  height: 50px;
  margin-left: 13px;
  margin-bottom: 20px;
  filter: brightness(0) invert(1);
}

.middle {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%); /* Centers the text */
}

.middle h1 {
  font-size: 17px;
  letter-spacing: 0.2px;
  font-weight: 800;
}

.menuPic {
  height: 24px;
  width: 24px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: 300px;
  margin-top: -10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ddd;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #005035;
  color: #fff;
  height: 56px;
}

footer .options a {
  text-decoration: none;  
}

.map{
  height: 32px;
  width: 32px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -3px;
}

.card, .content, .container, .list-group-item {
  background: #fff;
  color: #222;
  border: 1px solid #ddd;
}

@media (min-width: 750px) {
}
