
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
  height: 36px;
  
}

.logo{
  width: 50px;
  height: 50px;
  margin-left: 13px;
  margin-bottom: 20px;
}

.middle {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%); /* Centers the text */
  h1 {
    font-size: 17px;
    letter-spacing: 0.2px;
    font-weight: 800;
  }
}

.menuPic {
  height: 24px;
  width: 24px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: 300px;
  margin-top: -10px;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ddd;
  position: fixed;
  z-index: 1000;
    bottom: 0;
    left: 0;
  width: 100%;
  margin-bottom: 4px;
  background-color: white;
}

footer .options a {
  text-decoration: none;  
}

.map{
  height: 32px;
  width: 32px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -3px;
}


@media (min-width: 750px) {
}
