
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
  height: 36px;
  
}

.middle {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%); /* Centers the text */
  h1 {
    font-size: 17px;
    letter-spacing: 0.2px;
    font-weight: 800;
  }
}

.menuPic {
  height: 24px;
  width: 24px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: 370px;
  margin-top: -10px;
}

.welcome{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ddd;
}

.map{
  height: 32px;
  width: 32px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -3px;
}


@media (min-width: 750px) {
}
