
.feed {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 716px;
}

.feedItem {
  h4 {
    margin-top: 1px;
    margin-bottom: -15px;
    font-weight: 400;
    font-size: 18px;
  }
  p {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
  }
}

.text{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.feedItemSet {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  .photo {
    border: 1px solid black;
    height: 120px;
    width: 135px;
  }
}
.welcome{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 750px) {
}
