<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Listing</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'base/addItem-styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="header-left">
          <a href="javascript:history.back()" 
            ><img
              class="exit"
              src="{% static 'images/X.png' %}"
              alt="Exit"
            />
          </a>
        </div>
        <div class="middle">
          <h1>My Listing</h1>
        </div>
      </header>
      <div class="feed">
         <form method="POST" enctype="multipart/form-data" action="{% url 'addItemsToCloudinary' %}">
        {% csrf_token %}
          <div class="imageUploads">
          <div class="feedItem">
            <div class="dotted-box">
              <label class="upload-box">
                <input
                  class="fileUpload"
                  type="file"
                  name="image1"
                  accept="image/*"
                />
                <img src="{% static 'images/Camera.png' %}" />
              </label>
            </div>
          </div>
          <div class="feedItem">
            <div class="dotted-box">
              <label class="upload-box">
                <input
                  class="fileUpload"
                  type="file"
                  name="image2"
                  accept="image/*"
                />
                <img src="{% static 'images/Camera.png' %}" />
              </label>
            </div>
          </div>
          <div class="feedItem">
            <div class="dotted-box">
              <label class="upload-box">
                <input
                  class="fileUpload"
                  type="file"
                  name="image3"
                  accept="image/*"
                />
                <img src="{% static 'images/Camera.png' %}" />
              </label>
            </div>
          </div>
        </div>
        <hr />

        <div class="inputs">
          <div class="input-field">
            <label for="id_name">Name:</label>
            <input class="inputBoxes" type="text" name="name" required />
          </div>

          <div class="input-field">
            <label for="id_price">Price:</label>
            <input class="number" type="number" name="price" step="0.01" required />
          </div>

          <div class="input-field">
            <label  for="id_description">Description:</label>
            <textarea class="description" name="description" required></textarea>
          </div>
        </div>

      </div>

      <footer>
        <div class="options">
          <button class="submitButton" type="submit">Submit Listing</button>
        </div>
      </footer>
      </form>
    </div>
  </body>
</html>
