<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="home-styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="middle">
          <h1>Feed</h1>
        </div>
        <div class="header-right">
          <a href="/settings.html" class="menu-open hide-desktop"
            ><img class="menuPic" src="menu.svg" alt="Open menu" />
          </a>
        </div>
      </header>
      <div class="feed">
        <div class="feedItemSet">
          <div class="feedItem">
            <img src="image 1.png" />
            <h4>Polo Shirt</h4>
            <p>$12.00</p>
          </div>
          <div class="feedItem">
            <img src="image 3.png" />
            <h4>North Face Jacket</h4>
            <p>$75.00</p>
          </div>
        </div>
        <div class="feedItemSet">
          <div class="feedItem">
            <img src="image 4.png" />
            <h4>Macbook</h4>
            <p>$750.00</p>
          </div>
          <div class="feedItem">
            <img src="image 5.png" />
            <h4>IPhone</h4>
            <p>$350.00</p>
          </div>
        </div>
        <div class="feedItemSet">
          <div class="feedItem">
            <img src="image 6.png" />
            <h4>Mac monitor</h4>
            <p class="price">$1200.00</p>
          </div>
          <div class="feedItem">
            <img src="image 7.png" />
            <h4>Patagonia Jacket</h4>
            <p>$75.00</p>
          </div>
        </div>
      </div>
      <footer>
        <div class="options">
        <img src="home.png" alt="Home" />
        <img src="search.png" alt="Search" />
        <img src="add.png" alt="Add" />
        <img src="notif.png" alt="Notifications" />
        <img src="profile.png" alt="Profile" />
        </div>
      </footer>
    </div>
  </body>
</html>
