<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/settings-styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet">
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="middle">
          <h1>Settings</h1>
        </div>
        <div class="header-right">
            <a href="javascript:history.back()"> <img src="{% static 'images/Chevron_Left.png' %}" alt="Back" /></a>
        </div>
      </header>
      <div class="settings">
        <h1>My Account</h1>
        <div class="option">
          <p>Profile</p>
          <img src="{% static 'images/Chevron_Right.png' %}" alt="select" />
        </div>
      </div>
      <footer>
        <div class="options">
        <img src="{% static 'images/home.png' %}" alt="Home" />
        <img class="map" src="{% static 'images/map2.png' %}" alt="Maps" />
        <img src="{% static 'images/add.png' %}" alt="Add" />
        <img src="{% static 'images/notif.png' %}" alt="Notifications" />
        <img src="{% static 'images/profile.png' %}" alt="Profile" />
        </div>
      </footer>
    </div>
  </body>
</html>
